.col-centered{
    float: none;
    margin: 0 auto;
}
.imgback {
  background-image: url(wood.jpg);

  background-size: contain;
}

.nicecol{
  background-image: url(bakcol.jpg);

  background-size: cover;
}

.colol{
  background-color:	#ffffff;
  color: #363738;
}

.co a{
  color: #2c2f33;
}

.clo {
  font-family: sans-serif;
  font-size: 160%;
}
