.col-centered{
    float: none;
    margin: 0 auto;
}
.imgback {
  background-image: url(niceback1.jpg);

  background-size: cover;
}

.nicecol{
  background-image: url(bakcol.jpg);

  background-size: cover;
}

.colol{
  background-color:	#363738;
  color: #cedbe8;
}

.co a{
  color: #2c2f33;
}
